<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <form action="/profile/{{username}}/editProfile/changePWD" method="POST">
            <div class="mb-3">
              <label for="pucp" class="form-label">enter current password</label>
              <input type="password" class="form-control" id="pucp" name="pucp" required>
             </div>
             <div class="mb-3">
                <label for="punp" class="form-label">enter new password</label>
                <input type="password" class="form-control" id="punp" name="punp" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>

    {% if x == 1 %}
        Entered wrong current password
    {% endif %}
    {% if x == 2 %}
        password has been changed
    {% endif %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>