<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <form action="/profile/{{username}}/{{repoID}}/{{fileID}}/fileupdate" method="POST">
            <div class="mb-3">
              <label for="run" class="form-label">Update Title of the file</label>
              <input type="text" class="form-control" id="fut" name="fut" value = "{{file.name}}" required>
             
              <label for="run" class="form-label">Update description of the file</label>
              <input type="text" class="form-control" id="fud" name="fud" value = "{{file.desc}}" required>

            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>