<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <form action="/profile/{{username}}/{{perID}}/perupdate" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="pumname" class="form-label">Medicine Name</label>
            <input type="text" class="form-control" id="pumname" name="pumname" value="{{per.medN}}" required>
          </div>
          <div class="mb-3">
            <label  class="form-label">Frequency :- </label>
            <br>
            Before Breakfast <input type="checkbox" class="form-check-input" name="pufreq" value ="Before Breakfast" >
            After Breakfast<input type="checkbox" class="form-check-input" name="pufreq" value ="After Breakfast" >
            Before Lunch  <input type="checkbox" class="form-check-input" name="pufreq" value ="Before Lunch" >
            After Lunch <input type="checkbox" class="form-check-input" name="pufreq" value ="After Lunch" >
            Before Dinner <input type="checkbox" class="form-check-input" name="pufreq" value ="Before Dinner" >
            After Dinner <input type="checkbox" class="form-check-input" name="pufreq" value ="After Dinner" >
            Morning <input type="checkbox" class="form-check-input" name="pufreq" value ="Morning" >
            Afternoon <input type="checkbox" class="form-check-input" name="pufreq" value ="Afternoon" >
            Evening <input type="checkbox" class="form-check-input" name="pufreq" value ="Evening" >
            Night <input type="checkbox" class="form-check-input" name="pufreq" value ="Night" >
          </div>
          <div class="mb-3">
            <label for="pudur" class="form-label">duration</label>
            <input type="text" class="form-control" id="pudur" name="pudur" value="{{per.duration}}" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>